@import "@vega-ui/theme-core";
@import "@vega-ui/react/style.css";

:root {
  /* Primary */
  --color-primary-0: var(--color-blue-accent-0);
  --color-primary-50: var(--color-blue-accent-50);
  --color-primary-100: var(--color-blue-accent-100);
  --color-primary-150: var(--color-blue-accent-150);
  --color-primary-200: var(--color-blue-accent-200);
  --color-primary-250: var(--color-blue-accent-250);
  --color-primary-300: var(--color-blue-accent-300);
  --color-primary-350: var(--color-blue-accent-350);
  --color-primary-400: var(--color-blue-accent-400);
  --color-primary-450: var(--color-blue-accent-450);
  --color-primary-500: var(--color-blue-accent-500);
  --color-primary-550: var(--color-blue-accent-550);
  --color-primary-600: var(--color-blue-accent-600);
  --color-primary-650: var(--color-blue-accent-650);
  --color-primary-700: var(--color-blue-accent-700);
  --color-primary-750: var(--color-blue-accent-750);
  --color-primary-800: var(--color-blue-accent-800);
  --color-primary-850: var(--color-blue-accent-850);
  --color-primary-900: var(--color-blue-accent-900);
  --color-primary-950: var(--color-blue-accent-950);
  --color-primary-1000: var(--color-blue-accent-1000);
}

.dark :root {
  --color-secondary-0: var(--color-smoke-accent-0);
  --color-secondary-50: var(--color-smoke-accent-50);
  --color-secondary-100: var(--color-smoke-accent-100);
  --color-secondary-150: var(--color-smoke-accent-150);
  --color-secondary-200: var(--color-smoke-accent-200);
  --color-secondary-250: var(--color-smoke-accent-250);
  --color-secondary-300: var(--color-smoke-accent-300);
  --color-secondary-350: var(--color-smoke-accent-350);
  --color-secondary-400: var(--color-smoke-accent-400);
  --color-secondary-450: var(--color-smoke-accent-450);
  --color-secondary-500: var(--color-smoke-accent-500);
  --color-secondary-550: var(--color-smoke-accent-550);
  --color-secondary-600: var(--color-smoke-accent-600);
  --color-secondary-650: var(--color-smoke-accent-650);
  --color-secondary-700: var(--color-smoke-accent-700);
  --color-secondary-750: var(--color-smoke-accent-750);
  --color-secondary-800: var(--color-smoke-accent-800);
  --color-secondary-850: var(--color-smoke-accent-850);
  --color-secondary-900: var(--color-smoke-accent-900);
  --color-secondary-950: var(--color-smoke-accent-950);
  --color-secondary-1000: var(--color-smoke-accent-1000);
}

.light :root {
  --color-secondary-0: var(--color-graphite-accent-0);
  --color-secondary-50: var(--color-graphite-accent-50);
  --color-secondary-100: var(--color-graphite-accent-100);
  --color-secondary-150: var(--color-graphite-accent-150);
  --color-secondary-200: var(--color-graphite-accent-200);
  --color-secondary-250: var(--color-graphite-accent-250);
  --color-secondary-300: var(--color-graphite-accent-300);
  --color-secondary-350: var(--color-graphite-accent-350);
  --color-secondary-400: var(--color-graphite-accent-400);
  --color-secondary-450: var(--color-graphite-accent-450);
  --color-secondary-500: var(--color-graphite-accent-500);
  --color-secondary-550: var(--color-graphite-accent-550);
  --color-secondary-600: var(--color-graphite-accent-600);
  --color-secondary-650: var(--color-graphite-accent-650);
  --color-secondary-700: var(--color-graphite-accent-700);
  --color-secondary-750: var(--color-graphite-accent-750);
  --color-secondary-800: var(--color-graphite-accent-800);
  --color-secondary-850: var(--color-graphite-accent-850);
  --color-secondary-900: var(--color-graphite-accent-900);
  --color-secondary-950: var(--color-graphite-accent-950);
  --color-secondary-1000: var(--color-graphite-accent-1000);
}

body {
  padding: 0;
  margin: 0;
}